<h2>Plane information</h2>
<p><i>This part was generated at : {{ "now"|date("m/d/Y H:i:s") }}</i></p>
<ul>
	<li>Plane name : {{plane.name}}</li>
	<li>Plane capacity : {{plane.capacity}}</li>
	<li>This plane contains {{plane.passengers|length}} passengers</li>
</ul>